.home {
    background-color: $bg-primary;
    color: $bg-light;
    min-height: 50vh;

    .content {
        padding-top: 50px;
        width: 80vw;
        margin-left: 10vw;

        h1 {
            margin-top: 0;
            font-size: 40px;
        }

        p {
            width: 50%;
            margin-bottom: 50px;
        }
    }
}
