// fonts
$font-weight: 400;
$font-size: 14px;
$line-height: 1.3;

// colors

$bg-semi: #E9E6E6;
$bg-light: #FDFCFC;
$bg-dark: #D6D1D1;

$bg-primary-light: #EB5653;
$bg-primary: #D63C39;
$bg-primary-dark: #BA2320;

$font-color-primary: #191919;
$font-color-light: $bg-light;
